addn-hosts=/etc/hosts-dnsmasq.conf
listen-address={{ ipv4.address }}
interface={{ interface.bridge }}
bind-interfaces
domain-needed
bogus-priv
local=/mikamosrv.org/
dhcp-range={{ dnsmasq.dhcp.range }}
dhcp-option=option:router,{{ ipv4.address }}

dhcp-option=option:ntp-server,{{ ipv4.address }}
dhcp-option=option:dns-server,{{ ipv4.address }}
dhcp-option=option:netmask,{{ ipv4.subnetmask }}
{% for host in secret.dnsmasq.dhcp.hosts %}
dhcp-host={{ host.mac }},{{ host.ip }}
{% endfor %}

server=127.0.0.1#{{ dnscrypt.port }}
no-resolv
proxy-dnssec