[Unit]
Description=enable accept ra
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/sysctl -p /etc/sysctl.d/10-accept-ra.conf
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
