[Match]
Name={{ interface.bridge }}

[Link]
RequiredForOnline=yes

[Network]
Address={{ ipv4.address }}/{{ ipv4.prefix }}
Address={{ ipv6.uniquelocaladdress }}/{{ ipv6.prefix }}
DNS={{ ipv4.address }}