[Match]
Name={{ interface.wan }}

[Link]
RequiredForOnline=yes

[Network]
DHCP=no
DNSSEC=no
DNS={{ dnsserver_address }}
IPv6AcceptRA=yes
Address={{ secret.ip6address }}/64
Tunnel={{ interface.ip6tunnel }}